body {
    padding: 42px 100px;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

h1 {
    font-family: 'DM Sans';
    margin: 0px;
    font-weight: 700;
    font-size: 36px;
    color: #D04F4F;
}

.container_recipe {
    background: #E7E7E7;
    border-radius: 5px;
    width: 30.3%;
    height: 364px;
    display: flex;
    flex-direction: column;
}

.container_img {
    background: #C7BEBE;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex: 1;
}

.relative_bis {
    position: relative;
    margin: 20px 0px;
    height: 70px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container_button {
    display: flex;
    flex: 1;
    position: absolute;
    width: 87%;
    gap: 20px;
    top: 0px;
}

.button_filter:active,
.button_filter:focus,
.button_filter:hover,
.badge:hover {
    cursor: pointer;
}

.button_filter {
    width: 170px;
    height: 69px;
    border-radius: 5px;
    color: #FFFFFF;
    padding-left: 15px;
    justify-content: "center";
    border: none;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}

.blue {
    background-color: #3282F7;
}

.green {
    background-color: #68D9A4;
}

.red {
    background-color: #ED6454;
}

.input_search::placeholder {
    color: rgba(0, 0, 0, 0.25);
    size: 18px;
}

.container_all_search{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.icon_search {
    position: absolute;
    font-size: 40px;
    right: 15px;
}

.input_search {
    width: 100%;
    height: 69px;
    color: black;
    size: 18px;
    border-radius: 5px;
    background-color: #E7E7E7;
    padding-left: 24px;
    border: none;
}

.relative {
    position: relative;
    display: flex;
    min-width: 148px;
    max-width:50%;
    flex-direction: column;
}

.container_info_filter {
    display: none;
    position: relative;
    z-index: 25;
    /* padding: 22px; */
    border-radius: 5px;
    top: -70px;
    /* left: -155px; */
    width: 100%;
    /* min-width: 148px; */
}

.container_all_info {
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    /* margin: 0px; */
    margin: 0px 22px;
}

.chevron {
    font-size: 18px;
    color: white;
    font-weight: 700;
}

.chevron:hover {
    cursor: pointer;
}

.container_input_info {
    display: flex;
    /* max-width:100%; */
    min-width: 142px;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 22px 22px 10px 22px;
}

.container_all_info li:hover {
    cursor: pointer;
}

.container_all_info li {
    font-size: 18px;
    color: white;
    width: 32%;
    list-style-type: none;
    text-align: left;
    margin: 5px 2px;
}

.input_info::placeholder {
    font-weight: 700;
    color: rgba(255, 2555, 255, 0.5);
    font-size: 18px;
}

.input_info:focus-visible {
    border: none
}

.input_info {
    height: 50px;
    width: 100%;
    font-weight: 700;
    color: white;
    font-size: 18px;
    background-color: transparent;
    padding: 0px 10px;
    border: none
}

.container_badge {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.badge {
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    height: 37px;
}

.badge p::after {
    content: "\f057";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    margin-left: 13px;
}


.container_info {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.container_info h2 {
    margin: 0px;
    font-weight: 400;
    font-size: 18px;

    display: flex;
    flex: 3;
}

.container_info h3::before {
    content: "\f017";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    margin-right: 7px;
}


.container_info h3 {
    display: flex;
    flex: 1;
    margin: 0px;
    font-weight: 700;
    font-size: 18px;

    justify-content: flex-end;
}

.container_description li {
    font-weight: 400;
    font-size: 12px;

    list-style-type: none;
}

.titleIngredient {
    font-weight: 700;
}

.container_description ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.container_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container_description {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.container_description p {
    flex: 1;
    font-weight: 400;
    font-size: 12px;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient:vertical;
    max-height: 68px;
    white-space: normal;
    margin: 0px;
}